.text_content {
  max-width: 600px;
  width: 38%;
  color: #141414;

  h2 {
    font-family: 'Orchidea Pro', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    margin: 0 0 25px;
  }

  p {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin: 0;

    &:last-child {
      margin-top: 18px;
    }
  }
}

@media screen and (max-width: 450px) {
  .text_content {
    width: unset;
    margin: 0 20px;

    h2 {
      font-size: 24px;
      line-height: 120%;
      margin: 0 0 20px;
    }

    p {
      font-size: 14px;
    }
  }
}