@import '../../styles/mixin';

.main_container {
  scrollbar-width: none;

  .pt_200 {
    padding-top: 200px;
  }

  .pt_160 {
    padding-top: 160px;
  }
}

@media screen and (max-width: 450px) {
  .main_container {
    .pt_200 {
      padding-top: 72px;
    }

    .pt_160 {
      padding-top: 70px;
    }
  }
}
