@import '../../styles/mixin';

.main_container {
  overflow: hidden;

  .pt_200 {
    padding-top: 200px;
  }

  .slider_heading {
    @include heading;
    margin-bottom: 123px;
  }

  .pt_160 {
    padding-top: 160px;
  }
}
